body
{
    margin:auto;
    background-image:url("../img/background.jpg");
    background-size: 100% 100%;
}

#background
{
	margin-top:200px;
}

#title, #easy, #normal, #hard
{
	width:400px;
	margin:auto;
}

#easy,#normal,#hard
{
	width:16%;
	height: 100px;
	font-size: 60px;
	color: white;
	background-color: chocolate;
	text-align: center;
	border-radius: 50px;
	margin: 0 auto;
}

h1
{
	color:pink;
	font-size:70px;
}
