body
{
    margin:auto;
    background-image:url("background.jpg");
    background-size:100%;
    background-repeat: no-repeat;
    text-align: center;
}

#background
{
	margin-top:275px;
}

#title, #a, #b, #c
{
	margin: 0 auto;
}

h1
{
	color:pink;
	font-size:60px;
}
