#title
{
	margin-top:275px;
	width:9000px;
}

#background
{
    width:1000px;
	margin:auto;
}

#lefttable
{
	margin-left:150px;
	float:left;
	width:600px;
}

.back
{
	width:85px;
}

h1
{
	color:pink;
    font-size: 20px;
	margin:auto;
}

#righttable
{
	float:right;
	width:220px;
	border-radius: 50px;
}

#top
{
	background-color:#C8C8C8;
	height:60px;
	margin:0 5px 0 5px;
}

#mid1
{
	background-color:#330000;
	height:60px;
	margin:0 5px 0 5px;
}

#space
{
	height:245px;
	background-color:#00CCFF;
	margin:0 5px 0 5px;
}

#mid2
{
	height:60px;
	background-color:#33CC66;
	margin:0 5px 0 5px;
}

#exit
{
	height:60px;
	background-color:#339933;
	margin:0 5px 0 5px;
}

#time
{
    color:#FF00FF;
}

#cscore
{
	color:#FF0033;
}
