body
{
    margin:auto;
    background-image:url("background.jpg");
    background-size:100%;
}

#title
{
	margin-top:275px;
	width:9000px;
}

#a
{
    width:900px;
	margin:auto;
}

#b
{
	margin-left:15px;
	float:left;
	width:600px;
}

#c
{
    margin:5px;
	float:left;
}

#d
{
    margin:5px;
	float:left;
}

#e
{
    margin:5px;
	float:left;
}

#f
{
    margin:5px;
	float:left;
}

.back
{
	width:110px;
}

h1
{
	color:pink;
	font-size:60px;
	
}

#g
{
	float:right;
	width:220px;
}

#h
{
	background-color:#C8C8C8;
	height:60px;
	margin-LEFT:5px;
	margin-right:5px;
	margin-top:5px;
}

#i
{
	background-color:#330000;
	height:60px;
	margin:5px;
}

#j
{
	height:245px;
	background-color:#00CCFF;
	margin:5px;
}

#k
{
	height:60px;
	background-color:#33CC66;
	margin:5px;
}

#l
{
	height:60px;
	background-color:#339933;
	margin:5px;
}

#time
{
    color:#FF00FF;
}

#cscore
{
	color:#FF0033;
}

#ha
{
	float:left;
	margin:5px;
}

#hb
{
	float:left;
	margin:5px;
}

#hc
{
	float:left;
	margin:5px;
}

#hd
{
	float:left;
	margin:5px;
}

.elements
{
	float:left;
	margin:5px;
}
